---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14EQww4NXe5wJuj75WUMIzMf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_i28AswyItsV0u6iZen9FvuUb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14EQww4NXe5wJuj75WUMIzMf",
          "created": 1404934914,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14EQww4NXe5wJuj7yJO13CBp",
              "object": "charge",
              "created": 1404934914,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14EQwt4NXe5wJuj771ObrDLX",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "z2G9NMJPCN5ZFDry",
                "country": "US",
                "name": "meow@cats.com",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4NBJLCIvob5eGN"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14EQww4NXe5wJuj7yJO13CBp/refunds",
                "data": []
              },
              "balance_transaction": "txn_14EQww4NXe5wJuj7ofaFYVA3",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4NBJLCIvob5eGN",
              "invoice": "in_14EQww4NXe5wJuj7yFfxekaB",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4NBJxcZY2NWFqw"
        }
  recorded_at: Wed, 09 Jul 2014 19:55:33 GMT
recorded_with: VCR 2.9.2
