---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_i28AswyItsV0u6iZen9FvuUb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14E3tu4NXe5wJuj7aVgYLRXo",
          "livemode": false,
          "created": 1404846314,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14E3tu4NXe5wJuj7c8x7IqeS",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "rsLDjjJvWp6UYdLP",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 08 Jul 2014 19:05:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14E3tu4NXe5wJuj7aVgYLRXo&email=kathlyn%40green.org&plan=base
    headers:
      Authorization:
      - Bearer sk_test_i28AswyItsV0u6iZen9FvuUb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 08 Jul 2014 19:05:14 GMT
recorded_with: VCR 2.9.2
